* {
  margin: 0;
  font-family: "EB Garamond";
}

body {
  position: relative;
}

a {
  color: black;
}

h1 {
  text-align: center;
  font-size: 40px;
}

p {
  font-size: 30px;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(images/NNIF_poster_propaganda-1.png);
  background-position: center;
  filter: blur(10px);
  z-index: -1;
}

header {
  display: flex;
  height: 100px;
  background-color: brown;
  font-size: 20px;
}

nav {
  flex: 1;
  display: flex;
  align-items: center;
}

nav ul {
  flex: 1;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

main {
  justify-items: center;
}

section {
  background-color: rgba(250, 235, 215, 0.459);
  padding: 20px;
  border: solid black;
  border-radius: 10px;
  margin: 5em 0;
  max-width: 60rem;
}



#facebook-wrapper {
  display: flex;
  gap: 2rem;
}

.facebook-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: rgba(0, 0, 0, 0.24);
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 0px;
  max-height: 15rem;
  align-items: center;
  justify-items: center;
}

.fb-logo {
  height: 20px;
  margin-top: 8px;
}

.facebook-card a {
  min-width: max-content;
  flex-grow: 1;
  height: 2rem;
  line-height: 2rem;
  background-color: antiquewhite;
  border-radius: 4px;
  margin: 10px;
  padding: 0 10px;
}

.social-media-link-text {
  font-size: 16px;
}


.schedule-wrapper {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  text-align: center;
  border: 2px black solid;
}

.sport-card {
  padding: 1rem;
  border: black solid 2px;
  border-radius: 10px;
  background-color: antiquewhite;
  margin-top: 2rem;
}

.sport-card iframe {
  width: 100%;
  margin: 1rem 0;
}

.footer {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40px 40px 40px;
  gap: 20px;
  margin: 20px 20px 0 20px;
  padding-top: 20px;
}

.footer-kolumn {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 40px 40px 40px;
}

.trademark {
  color: red;
  text-align: center;
  padding-bottom: 20px;
}

footer {
  background-color: whitesmoke;
}

footer p {
  font-size: 16px;
}